.contenedores {
    padding-left: 12%;
}

.contenedores li {
    display: inline-block;
    vertical-align: top;
    margin: 30px 15px 10px 15px;
    border: 3px solid #000000;
    border-radius: 15px;
    width: 300px;
    transition: transform .2s;
}

.contenedores li:hover {
    border-color: rgb(137, 94, 255);
    transform: scale(1.2);
}

.contenedores li:hover h2 {
    border-color: rgb(137, 94, 255);
}

.contenedores li img {
    display: block;
    margin: auto;
    height: 150px;
    width: 185px;
}

.contenedores li h2 {
    border-top: 4px solid #000000;
    border-bottom: 2px solid #000000;
    text-align: center;
    background-color: #BBBBBB;
    padding: 5px;
    font-size: 22px;
    font-weight: bold;
}

.contenedores li p {
    background-color: #d8d8d8;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
}

.contenedores a{
    text-decoration: none;
    color: #000000;
}